{{#each events as |event|}}
  {{log event}}
  <section data-id="{{event.id}}">
    <h4>Event Name:</h4>
    <h3>
      {{event.name}}
    </h3>
    <h6>Description:</h6>
    <p>
      {{#if event.description}}
        {{event.description}}
      {{else}}
        No description provided.
      {{/if}}
    </p>
    <h6><b>Date:</b></h6>
    <p>
      {{event.date}}
    </p>
    <h6><b>Time:</b></h6>
    <p>
      {{event.time}}
    </p>
    <h6><b>Location:</b></h6>
    <p>
      {{event.location.name}}
    </p>
    <p>
      {{event.location.address}}
    </p>
    <h6><b>Organizer:</b></h6>
    <p>
      {{event.organizer}}
    </p>
    <!-- <button class="btn btn-danger" data-id="{{book.id}}">Remove Book</button>
    {{> partial}} -->
  </section>

{{/each}}
